* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(fonts/Lato-Regular.ttf);
}

:root {
  --font-heading: "Dancing Script", serif;
  --font-body: "Lato", sans-serif;
  --primary: #fce6e9;
  --secondary: #c23a61;
  --radius-pill: 999px;
}

body {
  background-color: var(--primary);
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background: rgba(252, 230, 233, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--secondary);
  padding: 0 30px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100px;
  }
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .cart {
    color: var(--secondary);
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 16px;
    font-family: var(--font-body);
  }

  a:hover {
    text-decoration: underline;
  }
}

/* HERO SECTION */
.hero {
  padding: 80px 20px;
  background-color: var(--primary);
  margin-top: 40px;
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary);
    text-align: center;
    margin-bottom: 16px;
  }

  h1 {
    font-family: var(--font-heading);
    color: var(--secondary);
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    font-size: 100px;
  }

  hr {
    height: 1px;
    width: 40%;
    border: none;
    background-color: var(--secondary);
    margin-bottom: 30px;
  }

  p {
    font-family: var(--font-body);
    color: var(--secondary);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 60%;
    margin-bottom: 50px;
  }

  a {
    text-decoration: none;
    color: var(--secondary);
    font-family: var(--font-body);
    border: 1px solid var(--secondary);
    padding: 10px 20px;
    border-radius: var(--radius-pill);
    font-size: 14px;
    transition: 0.3s;
  }

  a:hover {
    background-color: var(--secondary);
    color: var(--primary);
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
  .nav-right {
    a {
      font-size: 12px;
    }
  }

  .hero-container {
    h3 {
      font-size: 12px;
    }

    h1 {
      font-size: 60px;
      width: 90%;
      margin-bottom: 10px;

      span {
        font-style: italic;
      }
    }

    hr {
      margin-bottom: 20px;
      width: 70%;
    }

    p {
      font-size: 12px;
      margin-bottom: 40px;
    }

    a {
      font-size: 12px;
      padding: 8px 16px;
    }
  }
}

/* ABOUT SECTION */
.about-haus {
  padding: 80px 30px 40px;
  background-color: var(--secondary);
  width: 100%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 100%;

  .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 80%;
    }
  }
}

.about-text {
  color: var(--primary);

  h1 {
    font-family: var(--font-heading);
    font-size: 100px;
    margin-bottom: 25px;
  }

  h3 {
    font-family: var(--font-body);
    font-weight: 400;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 24px;
  }

  p {
    font-family: var(--font-body);
    font-size: 18px;
    line-height: 1.5rem;
    width: 80%;
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
    color: var(--primary);
    font-family: var(--font-body);
    border: 1px solid var(--primary);
    padding: 8px 16px;
    border-radius: var(--radius-pill);
    font-size: 12px;
    transition: 0.3s;
  }

  a:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
  .about-haus {
    padding: 0 0 40px;
    width: 100%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%;

    .about-img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;
      }

      h3 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
      }

      p {
        text-align: center;
        width: 70%;
        font-size: 14px;
      }

      a {
        text-align: center;
      }
    }
  }
}
